.site-header {
  background-color: rgb(37, 116, 153);
  color: rgb(15, 28, 48);
  height: 100vh;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
}

.profile-pic {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  align-items: center;
  box-shadow: rgb(42 124 149) 2px 5px;
}

.site-header-content {
  margin: 10px;
}
